html, body{
    height: 100%;
}
body{
    background-color: #ccc;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    background-color: white;
    width: 800px;
    height: 570px;
}
.form{
    position: relative;
    width: 75%;
    display: flex;
    border-bottom: solid 0.1rem #ccc;
}
.form img{
    margin-left: 95%;
    margin-top: 19.7%;
    cursor: pointer;
    position: absolute;
    padding: 0.9rem;
    background-color: black;
    float: right;
    border-radius: 100%;
    transition: 0.2s ease;
}
.form img:hover{
    background-color: blueviolet;
}
.form > div{
    margin-left: 1.8rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
.form .tittle{
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}
.form .tittle.naoValidado{
    color: red;
}
.form .alert.alertNaoMostrar{
    display: none;
}
.form .alert.alertMostrar{
    color:red;
    padding-top: 0.4rem;
    font-size: 0.89rem; 
}
.form .date.invalidDateMostrar{
    color:red;
    padding-top: 0.4rem;
    font-size: 1rem; 
}
.form .date.invalidDateNaoMostrar{
    display: none;
}
.form .data.dataNaoMostrar{
   display: none;
}
.form .data.dataMostrar{
    color:red;
    padding-top: 0.4rem;
    font-size: 0.89rem; 
}
.form .passado.passado.passadoNaoMostrar{
    display: none;
}
.form .passado.passadoMostrar{
    color:red;
    padding-top: 0.4rem;
    font-size: 0.89rem;  
}
.input{
    border: solid 2px #ccc;
    border-radius: 0.4rem;
    padding-left: 0.8rem;
    font-size: 1.5rem;
    width: 7rem;
    height: 3rem;
}
.input:hover{
    border-color: blueviolet;
}
.input:focus{
    outline-color: blueviolet;
}
.input.naoValidado{
    border: solid 2px red;
}
.input.naoValidado:focus{
    outline-color: red;
}
.result{
    margin: 2rem;
    margin-top: 1.3rem;
}
.result > div{
    font-weight: 500;
    font-size: 5.5rem;
    display: flex;
}
.result .resultado{
    color: blueviolet;
}
@media (max-width: 800px){
    .calculator{
        width: 500px;
        height: 570px;
    }
    .calculator .result{
        font-size: 18px;
    }
    .form img{
        margin-left: 95%;
        margin-top: 35%;
        width: 3.5rem;
        height: 3.5rem;
    }
    .input{
        font-size: 1.3rem;
        padding-left: 0.5rem;
    }
}
@media (max-width: 500px){
    .calculator{
        width: 400px;
        height: 500px;
    }
    .result > div{
        font-size: 4.3rem;
    }
    .input{
        width: 5rem;
        height: 3rem;
    }
    .form img{
        margin-top: 43%;
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.6rem;
    }
}
@media (max-width: 410px){
    .form .tittle{
        font-size: 1rem;
    }
    .calculator{
        width: 300px;
        height: 420px;
    }
    .result{
        margin: 1.5rem;
        margin-top: 0.7rem;
    }
    .result > div{
        font-size: 3rem;
    }
    .input{
        width: 4.3rem;
        height: 3rem;
        font-size: 1.1rem;
        padding-left: 0.45rem;
        
    }
    .form > div{
        margin-left: 1.25rem;
        
    }
    .form img{
        margin-top: 57%;
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.6rem;
    }
}